html {
    font-size: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.keys {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.key {
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2.5rem;
    width: 10rem;
    text-align: center;
    transition: all .07s ease;
}

.playing {
    transform: scale(1.1);
    border-color: #ee3e08;
    box-shadow: 0 0 1rem #ee3e08;
}

kbd {
    display: block;
    font-size: 4rem;
  }