@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


html {
    font-size: 10px;
    background: url('./background.jpg') no-repeat center center fixed;
    background-size: cover;

}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    color: white;
}

h1 {
    text-align: center;
    font-size: 4em;
    text-shadow: 5px 5px 5px #ee3e08;
}

h3 {
    text-align: center;
    font-size: 3em;
    text-shadow: 5px 5px 5px #ee3e08;
}

.keys {
    display: flex;
    margin: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
}

.key {
    margin: 15px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    font-size: 1.5rem;
    width: 10rem;
    text-align: center;
    transition: all .07s ease;
    background: rgba(0,0,0,0.4);
}

.playing {
    transform: scale(1.1);
    border-color: #ee3e08;
    box-shadow: 0 0 1rem #ee3e08;
}

kbd {
    font-family: 'Comfortaa', cursive;
    display: block;
    font-size: 3rem;
  }